@import "../../theme/variables.scss";

@font-face {
  font-family: 'OxygenBold';
  src:  url('../../theme/Oxygen-Bold.ttf') format('truetype');
}
// @font-face {
//   font-family: 'BELLABOO';
//   src:  url('../../theme/BELLABOO-Regular.woff') format('woff');
// }

// @font-face {
//   font-family: 'JunctionBold';
//   src:  url('../../theme/junction-bold.woff') format('woff');
// }

// @font-face {
//   font-family: 'Fabrica';
//   src:  url('../../theme/Fabrica.otf') format('opentype');
// }

.outfits {
  font-family: OxygenBold;

  .scrollableDiv{
    height: 100%;
    overflow: scroll;
  }

  span.wrapper {
    float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
  }
  div.description{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    /* styling bellow */
    background-color:black;
    font-family: 'OxygenBold';
    font-size:15px;
    color:white;
    opacity:0.3; /* transparency */
    filter:alpha(opacity=30); /* IE transparency */
  }
  div.description_content{
    padding:10px;
    margin:0px;
  }
}
